@import url('https://fonts.googleapis.com/css?family=Montserrat');
body {
    padding: 0px;
    margin: 0px;
    background-color: red;
}

.topblack {
    height: 40px;
    width: 100%;
    color: white;
    background-color: #333333;
    display: flex;
    flex-direction: row;
}
.topblack p.cry {
    margin-top: 0px;
    padding-top: 10px;
    padding-left: 18%;
    font-family: "Montserrat";
    font-size: 13px;
    color: #777777;
    width: 125px;
}
.topblack p.log {
    margin-top: 0px;
    padding-top: 10px;
    padding-left: 30%;
    font-family: "Montserrat";
    font-size: 13px;
    color: #777777;
    width: 175px;
}
.topblack span {
    padding-left: 40px;
}
.topblack i#random2 {
    margin-top: 2px;
    font-size: 20px;
    padding-top: 10px;
    padding-left: 20px;
}
.topbleu {
    display: flex;
    flex-direction: row;
    background-color: #00c8c8;
    height: 40px;
    width: 100px;
    padding-right: 50px;
}
.topbleu p {
    font-family: "Montserrat";
    font-size: 13px;
    margin-left: 20px;
    display: flex;
    flex-direction: row;

}
.topbleu i#randomi {
    font-size: 10px;
    padding-top: 5px;
    margin-left: 10px;
}
